flows.json
[
    {
        "id": "f_login_ui",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90e51c80d7614276",
        "type": "tab",
        "label": "Historial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e13779ceda0d5c8e",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "hdb-4bxfwXyP.db.rocketadmin.com",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "hdb_4bxfwXyP",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "hdb_4bxfwXyP",
        "userFieldType": "str",
        "password": "SnFBpxwYXZRzQKA9XuU_L8Buny2GbH17",
        "passwordFieldType": "str"
    },
    {
        "id": "ef6ea20ed5dfe34f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b28ee13ba7579f81",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-dashboard": "3.6.6",
            "node-red-node-ui-table": "0.4.5"
        }
    },
    {
        "id": "c37fd202a8722ef3",
        "type": "ui_tab",
        "name": "Inicio",
        "icon": "description",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0ed1ee85ed6b6020",
        "type": "ui_group",
        "name": "Login",
        "tab": "c37fd202a8722ef3",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea9fead6d8a3fa81",
        "type": "ui_tab",
        "name": "Historial",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78d0549c66d87ad5",
        "type": "ui_group",
        "name": "Datos",
        "tab": "ea9fead6d8a3fa81",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0a7b1489b3fb67e",
        "type": "ui_group",
        "name": "Buscador",
        "tab": "ea9fead6d8a3fa81",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "647159e976bd0344",
        "type": "ui_template",
        "z": "f_login_ui",
        "group": "",
        "name": "Diseño DashBoard",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* 1. CONFIGURACIÓN DE COLORES */\n    :root {\n        /* El azul clarito que antes era de cabecera, ahora es para el FONDO */\n        --color-fondo-pagina: #e3f2fd;\n\n        /* Un azul más intenso para la CABECERA */\n        --color-azul-cabecera-fuerte: #bbdefb;\n\n        /* Azul oscuro para textos de contraste */\n        --color-azul-oscuro-texto: #0d47a1;\n\n        --color-blanco-puro: #ffffff;\n        --color-bordes: #90caf9;\n    }\n\n    /* 2. FONDO GENERAL DE LA PÁGINA */\n    /* Aplicamos el azul clarito al contenedor principal */\n    .nr-dashboard-theme md-content {\n        background-color: var(--color-fondo-pagina) !important;\n    }\n\n    /* 3. ENCABEZADO (TOOLBAR) - AZUL MÁS OSCURITO */\n    body.nr-dashboard-theme md-toolbar {\n        background-color: var(--color-azul-cabecera-fuerte) !important;\n        color: var(--color-azul-oscuro-texto) !important;\n        border-bottom: 1px solid var(--color-bordes) !important;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;\n    }\n\n    body.nr-dashboard-theme md-toolbar .md-toolbar-tools {\n        color: var(--color-azul-oscuro-texto) !important;\n        font-weight: bold !important;\n    }\n\n    /* Iconos de la cabecera */\n    body.nr-dashboard-theme md-toolbar .md-button md-icon {\n        color: var(--color-azul-oscuro-texto) !important;\n    }\n\n    /* 4. TARJETAS DE GRUPOS */\n    /* Mantenemos las tarjetas blancas para que \"floten\" sobre el fondo azul */\n    .nr-dashboard-theme ui-card-panel {\n        background-color: var(--color-blanco-puro) !important;\n        border: 1px solid var(--color-bordes) !important;\n        border-radius: 8px !important;\n        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05) !important;\n        margin: 12px !important;\n    }\n\n    /* Títulos de los grupos */\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: var(--color-azul-oscuro-texto) !important;\n        font-weight: 800 !important;\n        border-bottom: 2px solid var(--color-fondo-pagina) !important;\n        padding-bottom: 10px !important;\n        text-transform: uppercase;\n    }\n\n    /* 5. TABLA (Haciendo juego con los nuevos azules) */\n    .tabulator-header {\n        background-color: var(--color-azul-cabecera-fuerte) !important;\n        color: var(--color-azul-oscuro-texto) !important;\n        border-bottom: 2px solid var(--color-bordes) !important;\n    }\n\n    /* Ajuste de inputs para que no se pierdan */\n    .nr-dashboard-theme md-input-container input {\n        background-color: var(--color-blanco-puro) !important;\n        border: 1px solid var(--color-bordes) !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 230,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f_carga",
        "type": "inject",
        "z": "f_login_ui",
        "name": "1. CARGAR USUARIOS",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "f_sql_nombres"
            ]
        ]
    },
    {
        "id": "f_sql_nombres",
        "type": "postgresql",
        "z": "f_login_ui",
        "name": "SQL DB",
        "query": "SELECT nombre_completo FROM usuarios_login;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "f_mapeo"
            ]
        ]
    },
    {
        "id": "f_mapeo",
        "type": "function",
        "z": "f_login_ui",
        "name": "Mapear Nombres",
        "func": "msg.options = [];\nfor (let i = 0; i < msg.payload.length; i++) {\n    msg.options[i] = msg.payload[i].nombre_completo;\n}\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "f_dropdown"
            ]
        ]
    },
    {
        "id": "f_dropdown",
        "type": "ui_dropdown",
        "z": "f_login_ui",
        "name": "Selector",
        "label": "Usuarios",
        "group": "0ed1ee85ed6b6020",
        "order": 1,
        "passthru": true,
        "options": [],
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "f_guardar_nombre"
            ]
        ]
    },
    {
        "id": "f_guardar_nombre",
        "type": "change",
        "z": "f_login_ui",
        "name": "Guardar Nombre",
        "rules": [
            {
                "t": "set",
                "p": "Nombre",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1270,
        "y": 200,
        "wires": [
            [
                "f_lanzador"
            ]
        ]
    },
    {
        "id": "f_lanzador",
        "type": "function",
        "z": "f_login_ui",
        "name": "Lanzar Popup",
        "func": "msg.payload = {\n    action: \"open\",\n    t: Date.now() // Esto hace que el mensaje sea único cada vez\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 200,
        "wires": [
            [
                "f_popup"
            ]
        ]
    },
    {
        "id": "f_popup",
        "type": "ui_template",
        "z": "f_login_ui",
        "group": "0ed1ee85ed6b6020",
        "name": "Popup Pass",
        "width": "",
        "height": "",
        "format": "<div ng-init=\"init()\" ng-show=\"showModal\">\n    <div style=\"position: fixed; top: 0; left: 0; width: 100%; height: 100%; \n                background-color: rgba(0,0,0,0.9); display: flex; align-items: center; justify-content: center; z-index: 9999;\">\n\n        <div style=\"background: #000000; padding: 30px; border-radius: 10px; text-align: center; width: 320px; \n                    border: 1px solid #367cff; box-shadow: 0 0 20px rgba(54, 124, 255, 0.4);\">\n\n            <div style=\"color: #5994ff; font-family: sans-serif; font-weight: bold; font-size: 22px; margin-bottom: 5px;\">\n                🔐 ACCESO\n            </div>\n\n            <div style=\"color: #5994ff; font-family: sans-serif; font-size: 11px; margin-bottom: 20px; letter-spacing: 2px; opacity: 0.8;\">\n                PASSWORD REQUIRED\n            </div>\n\n            <input\n                id=\"passInput\"\n                type=\"password\"\n                ng-model=\"pass\"\n                ng-keyup=\"$event.keyCode === 13 && enviar()\"\n                style=\"width: 100%; box-sizing: border-box; padding: 12px;\n                       background-color: #000000; border: 1px solid #367cff; color: #ffffff; border-radius: 4px;\n                       outline: none; font-size: 18px; text-align: center;\"\n                autocomplete=\"off\"\n            />\n\n            <br><br>\n\n            <div style=\"display: flex; justify-content: space-between; gap: 15px;\">\n                <button\n                    style=\"flex: 1; padding: 12px; background-color: #367cff; color: #ffffff; border: none; border-radius: 4px; \n                           cursor: pointer; font-weight: bold; text-transform: uppercase;\"\n                    ng-click=\"enviar()\">Entrar</button>\n\n                <button\n                    style=\"flex: 1; padding: 12px; background-color: #000000; color: #ffffff; border: 1px solid #367cff; \n                           border-radius: 4px; cursor: pointer; font-weight: bold;\"\n                    ng-click=\"cerrar()\">Salir</button>\n            </div>\n        </div>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.showModal = false;\n\n    scope.init = function() {\n        // Escuchamos msg.payload.action en lugar de solo msg.payload\n        scope.$watch('msg.payload', function(data) {\n            if (data && data.action === 'open') {\n                scope.pass = ''; // Limpiamos cuadro\n                scope.showModal = true;\n                \n                // Forzamos el refresco visual\n                setTimeout(() => {\n                    const input = document.getElementById('passInput');\n                    if (input) { input.focus(); }\n                }, 150);\n            }\n        });\n    };\n\n    scope.enviar = function() {\n        scope.send({payload: scope.pass});\n        scope.showModal = false;\n    };\n\n    scope.cerrar = function() {\n        scope.showModal = false;\n    };\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1670,
        "y": 200,
        "wires": [
            [
                "6d78a1ca3ea65fa6"
            ]
        ]
    },
    {
        "id": "22143d7bdeccf5a2",
        "type": "ui_toast",
        "z": "f_login_ui",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "ACCESO CONCEDIDO ✅",
        "name": "Aviso Éxito",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "5395ac2976366004",
        "type": "ui_toast",
        "z": "f_login_ui",
        "position": "top right",
        "displayTime": "4",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "Reintentar",
        "cancel": "",
        "raw": false,
        "topic": "PASSWORD INCORRECTA ❌",
        "name": "Aviso Error",
        "x": 1370,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d78a1ca3ea65fa6",
        "type": "function",
        "z": "f_login_ui",
        "name": "1. Preparar Consulta",
        "func": "// 1. Guardamos la contraseña escrita en la memoria segura del flujo\nvar passLimpia = msg.payload.toString().trim();\nflow.set(\"PassEscrita\", passLimpia);\n\n// 2. Pedimos todos los usuarios a la base de datos\nmsg.payload = {\n    query: \"SELECT * FROM usuarios_login;\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "048ac884b6e17c82"
            ]
        ]
    },
    {
        "id": "4e43db65bcf1a28f",
        "type": "switch",
        "z": "f_login_ui",
        "name": "4. Comprobar Acceso",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 440,
        "wires": [
            [
                "22143d7bdeccf5a2",
                "dccae7353c392b24"
            ],
            [
                "5395ac2976366004",
                "fa7759554fbbaf1a"
            ]
        ]
    },
    {
        "id": "048ac884b6e17c82",
        "type": "postgresql",
        "z": "f_login_ui",
        "name": "2. Leer Usuarios (DB)",
        "query": "SELECT * FROM usuarios_login;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "357fe5a9bf87ebe9"
            ]
        ]
    },
    {
        "id": "357fe5a9bf87ebe9",
        "type": "function",
        "z": "f_login_ui",
        "name": "3. Validar Credenciales (JS)",
        "func": "var tabla_usuarios = msg.payload;\nvar mi_nombre = flow.get(\"Nombre\");\nvar mi_pass = flow.get(\"PassEscrita\");\n\nif (mi_nombre) mi_nombre = mi_nombre.toString().trim();\nif (mi_pass) mi_pass = mi_pass.toString().trim();\n\nvar login_ok = false;\n\nif (tabla_usuarios && tabla_usuarios.length > 0) {\n    for (var i = 0; i < tabla_usuarios.length; i++) {\n        var db_nom = tabla_usuarios[i].nombre_completo.toString().trim();\n        var db_pass = tabla_usuarios[i].password.toString().trim();\n\n        if (db_nom === mi_nombre && db_pass === mi_pass) {\n            login_ok = true;\n            // Guardamos los datos en el flow (como ya tenías)\n            flow.set(\"DatosUsuario\", tabla_usuarios[i]);\n\n            // ¡NUEVO!: Guardamos el usuario (ej: \"FHC3\") en la variable global para el fichaje\n            global.set(\"usuario_activo\", tabla_usuarios[i].usuario);\n\n            break;\n        }\n    }\n}\n\nif (login_ok) {\n    node.warn(\"✅ Acceso correcto: \" + mi_nombre);\n    msg.payload = \" \"; // Va por la ruta 1 (Éxito)\n} else {\n    node.warn(\"❌ Acceso fallido: \" + mi_nombre);\n    msg.payload = \"\"; // Va por la ruta 2 (Error)\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 440,
        "wires": [
            [
                "4e43db65bcf1a28f"
            ]
        ]
    },
    {
        "id": "dccae7353c392b24",
        "type": "link out",
        "z": "f_login_ui",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "1c8102a8f87c5561"
        ],
        "x": 1315,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa7759554fbbaf1a",
        "type": "link out",
        "z": "f_login_ui",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0790dcb710f4a4b2"
        ],
        "x": 1315,
        "y": 560,
        "wires": []
    },
    {
        "id": "0790dcb710f4a4b2",
        "type": "link in",
        "z": "f_login_ui",
        "name": "link in 1",
        "links": [
            "fa7759554fbbaf1a"
        ],
        "x": 1345,
        "y": 120,
        "wires": [
            [
                "f_lanzador"
            ]
        ]
    },
    {
        "id": "25bdb51e45f9d2db",
        "type": "comment",
        "z": "f_login_ui",
        "name": "Inicio",
        "info": "",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "1c8102a8f87c5561",
        "type": "link in",
        "z": "90e51c80d7614276",
        "name": "link in 2",
        "links": [
            "dccae7353c392b24"
        ],
        "x": 245,
        "y": 160,
        "wires": [
            [
                "a38b265e1ea88f89"
            ]
        ]
    },
    {
        "id": "a38b265e1ea88f89",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Cambio de Pagina",
        "func": "// El payload debe ser exactamente el nombre de la pestaña (Tab) de destino\nmsg.payload = \"Historial\";\n\n// También puedes usar el índice (empezando desde 0)\n// msg.payload = 0; // Esto iría a la primera pestaña\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "9e162e8cfc7bdd87"
            ]
        ]
    },
    {
        "id": "9e162e8cfc7bdd87",
        "type": "ui_ui_control",
        "z": "90e51c80d7614276",
        "name": "",
        "events": "all",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8655584731f85d32",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "fcd10a5e91203ba5"
            ]
        ]
    },
    {
        "id": "a5d2ce873017674e",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 640,
        "wires": [
            [
                "b7f595923a771f4a"
            ]
        ]
    },
    {
        "id": "e8a19a780b76191e",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "838400822742fc20"
            ]
        ]
    },
    {
        "id": "afec4364e16258e5",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "075b5d6a0510862e"
            ]
        ]
    },
    {
        "id": "08af7ff3336c2783",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 820,
        "wires": [
            [
                "43dec837112e2533"
            ]
        ]
    },
    {
        "id": "d4db77e73b260663",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 880,
        "wires": [
            [
                "38d322d6e18ef503"
            ]
        ]
    },
    {
        "id": "5daf76d322df86ae",
        "type": "postgresql",
        "z": "90e51c80d7614276",
        "name": "SQL DB",
        "query": "INSERT INTO registro_piezas (tipo_pieza, usuario, fecha, cantidad)\nVALUES ($1, $2, CURRENT_DATE, $3)\nON CONFLICT (tipo_pieza, usuario, fecha)\nDO UPDATE SET cantidad = registro_piezas.cantidad + EXCLUDED.cantidad;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 820,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fcd10a5e91203ba5",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Blanca Pequeña",
        "func": "let pieza_elegida = \"Blanca_Pequeña\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 580,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "b7f595923a771f4a",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Blanca Grande",
        "func": "let pieza_elegida = \"Blanca_Grande\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 640,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "838400822742fc20",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Negra Pequeña",
        "func": "let pieza_elegida = \"Negra_Pequeña\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 700,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "075b5d6a0510862e",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Negra Grande",
        "func": "let pieza_elegida = \"Negra_Grande\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "43dec837112e2533",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Metal Pequeña",
        "func": "let pieza_elegida = \"Metal_Pequeña\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 820,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "38d322d6e18ef503",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Metal Grande",
        "func": "let pieza_elegida = \"Metal_Grande\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 880,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "f3058f885b15fa22",
        "type": "ui_date_picker",
        "z": "90e51c80d7614276",
        "name": "Selector Fecha",
        "label": "Día",
        "group": "b0a7b1489b3fb67e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "fecha",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "41bf10a3f79fb43e"
            ]
        ]
    },
    {
        "id": "77781b2409e1abfb",
        "type": "ui_dropdown",
        "z": "90e51c80d7614276",
        "name": "Selector Usuario",
        "label": "Usuario",
        "group": "b0a7b1489b3fb67e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Alvaro (AAS1)",
                "value": "AAS1",
                "type": "str"
            },
            {
                "label": "Raul (RGR2)",
                "value": "RGR2",
                "type": "str"
            },
            {
                "label": "Fabian (FHC3)",
                "value": "FHC3",
                "type": "str"
            }
        ],
        "topic": "usuario",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "41bf10a3f79fb43e"
            ]
        ]
    },
    {
        "id": "41bf10a3f79fb43e",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Preparar Filtros",
        "func": "// 1. Guardamos en el flujo lo que acaba de llegar\nif (msg.topic === \"fecha\") {\n    let d = new Date(msg.payload);\n    let fechaFormateada = d.toISOString().split('T')[0];\n    flow.set(\"filtro_fecha\", fechaFormateada);\n}\n\nif (msg.topic === \"usuario\") {\n    flow.set(\"filtro_usuario\", msg.payload);\n}\n\n// 2. Recuperamos ambos valores\nlet f = flow.get(\"filtro_fecha\");\nlet u = flow.get(\"filtro_usuario\");\n\n// 3. Solo disparamos si tenemos ambos datos\nif (f && u) {\n    msg.params = [f, u];\n    return msg;\n} else {\n    return null; // No hace nada hasta tener los dos\n}",
        "outputs": 1,
        "x": 530,
        "y": 380,
        "wires": [
            [
                "65b961a3233f3475"
            ]
        ]
    },
    {
        "id": "65b961a3233f3475",
        "type": "postgresql",
        "z": "90e51c80d7614276",
        "name": "Consultar Historial",
        "query": "SELECT tipo_pieza, cantidad FROM registro_piezas WHERE fecha = $1 AND usuario = $2;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "outputs": 1,
        "x": 760,
        "y": 380,
        "wires": [
            [
                "b8d42f9e3307b5c9"
            ]
        ]
    },
    {
        "id": "b8d42f9e3307b5c9",
        "type": "ui_table",
        "z": "90e51c80d7614276",
        "group": "78d0549c66d87ad5",
        "name": "Tabla Resultados",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "tipo_pieza",
                "title": "Pieza",
                "width": "",
                "align": "left",
                "formatter": "plaintext"
            },
            {
                "field": "cantidad",
                "title": "Cantidad Total",
                "width": "",
                "align": "center",
                "formatter": "plaintext"
            }
        ],
        "outputs": 0,
        "x": 990,
        "y": 380,
        "wires": []
    }
]
