flows.json
[
    {
        "id": "f_login_ui",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90e51c80d7614276",
        "type": "tab",
        "label": "Historial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e13779ceda0d5c8e",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "hdb-4bxfwXyP.db.rocketadmin.com",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "hdb_4bxfwXyP",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "hdb_4bxfwXyP",
        "userFieldType": "str",
        "password": "SnFBpxwYXZRzQKA9XuU_L8Buny2GbH17",
        "passwordFieldType": "str"
    },
    {
        "id": "ef6ea20ed5dfe34f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 60,
                "gy": 10,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "b28ee13ba7579f81",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-s7": "3.1.3",
            "node-red-node-ui-table": "0.4.5"
        }
    },
    {
        "id": "c37fd202a8722ef3",
        "type": "ui_tab",
        "name": "Inicio",
        "icon": "description",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0ed1ee85ed6b6020",
        "type": "ui_group",
        "name": "Login",
        "tab": "c37fd202a8722ef3",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea9fead6d8a3fa81",
        "type": "ui_tab",
        "name": "Historial",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78d0549c66d87ad5",
        "type": "ui_group",
        "name": "Produccion diaria",
        "tab": "ea9fead6d8a3fa81",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "grupo_imagen",
        "type": "ui_group",
        "name": "FOTO",
        "tab": "ea9fead6d8a3fa81",
        "order": 3,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_group_imagen",
        "type": "ui_group",
        "name": "IMAGEN SIN MÁRGENES",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "a85144b6feefd47f",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "ea9fead6d8a3fa81",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "s7_db12_config",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "130.130.130.5",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "",
        "cycletime": "",
        "timeout": "2000",
        "name": "PLC Siemens",
        "vartable": [
            {
                "addr": "DB12,X94.2",
                "name": "PiezaBlancaPequeña"
            },
            {
                "addr": "DB12,X94.3",
                "name": "PiezaBlancaGrande"
            },
            {
                "addr": "DB12,X94.4",
                "name": "PiezaNegraPequeña"
            },
            {
                "addr": "DB12,X94.5",
                "name": "PiezaNegraGrande"
            },
            {
                "addr": "DB12,X94.6",
                "name": "PiezaMetalPequeña"
            },
            {
                "addr": "DB12,X94.7",
                "name": "PiezaMetalGrande"
            }
        ]
    },
    {
        "id": "647159e976bd0344",
        "type": "ui_template",
        "z": "f_login_ui",
        "group": "",
        "name": "Diseño DashBoard",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* 1. CONFIGURACIÓN DE COLORES */\n    :root {\n        /* El azul clarito que antes era de cabecera, ahora es para el FONDO */\n        --color-fondo-pagina: #e3f2fd;\n\n        /* Un azul más intenso para la CABECERA */\n        --color-azul-cabecera-fuerte: #bbdefb;\n\n        /* Azul oscuro para textos de contraste */\n        --color-azul-oscuro-texto: #0d47a1;\n\n        --color-blanco-puro: #ffffff;\n        --color-bordes: #90caf9;\n    }\n\n    /* 2. FONDO GENERAL DE LA PÁGINA */\n    /* Aplicamos el azul clarito al contenedor principal */\n    .nr-dashboard-theme md-content {\n        background-color: var(--color-fondo-pagina) !important;\n    }\n\n    /* 3. ENCABEZADO (TOOLBAR) - AZUL MÁS OSCURITO */\n    body.nr-dashboard-theme md-toolbar {\n        background-color: var(--color-azul-cabecera-fuerte) !important;\n        color: var(--color-azul-oscuro-texto) !important;\n        border-bottom: 1px solid var(--color-bordes) !important;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;\n    }\n\n    body.nr-dashboard-theme md-toolbar .md-toolbar-tools {\n        color: var(--color-azul-oscuro-texto) !important;\n        font-weight: bold !important;\n    }\n\n    /* Iconos de la cabecera */\n    body.nr-dashboard-theme md-toolbar .md-button md-icon {\n        color: var(--color-azul-oscuro-texto) !important;\n    }\n\n    /* 4. TARJETAS DE GRUPOS */\n    /* Mantenemos las tarjetas blancas para que \"floten\" sobre el fondo azul */\n    .nr-dashboard-theme ui-card-panel {\n        background-color: var(--color-blanco-puro) !important;\n        border: 1px solid var(--color-bordes) !important;\n        border-radius: 8px !important;\n        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05) !important;\n        margin: 12px !important;\n    }\n\n    /* Títulos de los grupos */\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: var(--color-azul-oscuro-texto) !important;\n        font-weight: 800 !important;\n        border-bottom: 2px solid var(--color-fondo-pagina) !important;\n        padding-bottom: 10px !important;\n        text-transform: uppercase;\n    }\n\n    /* 5. TABLA (Haciendo juego con los nuevos azules) */\n    .tabulator-header {\n        background-color: var(--color-azul-cabecera-fuerte) !important;\n        color: var(--color-azul-oscuro-texto) !important;\n        border-bottom: 2px solid var(--color-bordes) !important;\n    }\n\n    /* Ajuste de inputs para que no se pierdan */\n    .nr-dashboard-theme md-input-container input {\n        background-color: var(--color-blanco-puro) !important;\n        border: 1px solid var(--color-bordes) !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 230,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "f_carga",
        "type": "inject",
        "z": "f_login_ui",
        "name": "1. CARGAR USUARIOS",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "f_sql_nombres"
            ]
        ]
    },
    {
        "id": "f_sql_nombres",
        "type": "postgresql",
        "z": "f_login_ui",
        "name": "SQL DB",
        "query": "SELECT nombre_completo FROM usuarios_login;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "f_mapeo"
            ]
        ]
    },
    {
        "id": "f_mapeo",
        "type": "function",
        "z": "f_login_ui",
        "name": "Mapear Nombres",
        "func": "msg.options = [];\nfor (let i = 0; i < msg.payload.length; i++) {\n    msg.options[i] = msg.payload[i].nombre_completo;\n}\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "f_dropdown"
            ]
        ]
    },
    {
        "id": "f_dropdown",
        "type": "ui_dropdown",
        "z": "f_login_ui",
        "name": "Selector",
        "label": "Usuarios",
        "group": "0ed1ee85ed6b6020",
        "order": 1,
        "passthru": true,
        "options": [],
        "x": 1070,
        "y": 200,
        "wires": [
            [
                "f_guardar_nombre"
            ]
        ]
    },
    {
        "id": "f_guardar_nombre",
        "type": "change",
        "z": "f_login_ui",
        "name": "Guardar Nombre",
        "rules": [
            {
                "t": "set",
                "p": "Nombre",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1270,
        "y": 200,
        "wires": [
            [
                "f_lanzador"
            ]
        ]
    },
    {
        "id": "f_lanzador",
        "type": "function",
        "z": "f_login_ui",
        "name": "Lanzar Popup",
        "func": "msg.payload = {\n    action: \"open\",\n    t: Date.now() // Esto hace que el mensaje sea único cada vez\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 200,
        "wires": [
            [
                "f_popup"
            ]
        ]
    },
    {
        "id": "f_popup",
        "type": "ui_template",
        "z": "f_login_ui",
        "group": "0ed1ee85ed6b6020",
        "name": "Popup Pass",
        "width": "",
        "height": "",
        "format": "<div ng-init=\"init()\" ng-show=\"showModal\">\n    <div style=\"position: fixed; top: 0; left: 0; width: 100%; height: 100%; \n                background-color: rgba(0,0,0,0.9); display: flex; align-items: center; justify-content: center; z-index: 9999;\">\n\n        <div style=\"background: #000000; padding: 30px; border-radius: 10px; text-align: center; width: 320px; \n                    border: 1px solid #367cff; box-shadow: 0 0 20px rgba(54, 124, 255, 0.4);\">\n\n            <div style=\"color: #5994ff; font-family: sans-serif; font-weight: bold; font-size: 22px; margin-bottom: 5px;\">\n                🔐 ACCESO\n            </div>\n\n            <div style=\"color: #5994ff; font-family: sans-serif; font-size: 11px; margin-bottom: 20px; letter-spacing: 2px; opacity: 0.8;\">\n                PASSWORD REQUIRED\n            </div>\n\n            <input\n                id=\"passInput\"\n                type=\"password\"\n                ng-model=\"pass\"\n                ng-keyup=\"$event.keyCode === 13 && enviar()\"\n                style=\"width: 100%; box-sizing: border-box; padding: 12px;\n                       background-color: #000000; border: 1px solid #367cff; color: #ffffff; border-radius: 4px;\n                       outline: none; font-size: 18px; text-align: center;\"\n                autocomplete=\"off\"\n            />\n\n            <br><br>\n\n            <div style=\"display: flex; justify-content: space-between; gap: 15px;\">\n                <button\n                    style=\"flex: 1; padding: 12px; background-color: #367cff; color: #ffffff; border: none; border-radius: 4px; \n                           cursor: pointer; font-weight: bold; text-transform: uppercase;\"\n                    ng-click=\"enviar()\">Entrar</button>\n\n                <button\n                    style=\"flex: 1; padding: 12px; background-color: #000000; color: #ffffff; border: 1px solid #367cff; \n                           border-radius: 4px; cursor: pointer; font-weight: bold;\"\n                    ng-click=\"cerrar()\">Salir</button>\n            </div>\n        </div>\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.showModal = false;\n\n    scope.init = function() {\n        // Escuchamos msg.payload.action en lugar de solo msg.payload\n        scope.$watch('msg.payload', function(data) {\n            if (data && data.action === 'open') {\n                scope.pass = ''; // Limpiamos cuadro\n                scope.showModal = true;\n                \n                // Forzamos el refresco visual\n                setTimeout(() => {\n                    const input = document.getElementById('passInput');\n                    if (input) { input.focus(); }\n                }, 150);\n            }\n        });\n    };\n\n    scope.enviar = function() {\n        scope.send({payload: scope.pass});\n        scope.showModal = false;\n    };\n\n    scope.cerrar = function() {\n        scope.showModal = false;\n    };\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1670,
        "y": 200,
        "wires": [
            [
                "6d78a1ca3ea65fa6"
            ]
        ]
    },
    {
        "id": "22143d7bdeccf5a2",
        "type": "ui_toast",
        "z": "f_login_ui",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "ACCESO CONCEDIDO ✅",
        "name": "Aviso Éxito",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "5395ac2976366004",
        "type": "ui_toast",
        "z": "f_login_ui",
        "position": "top right",
        "displayTime": "4",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "Reintentar",
        "cancel": "",
        "raw": false,
        "topic": "PASSWORD INCORRECTA ❌",
        "name": "Aviso Error",
        "x": 1370,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d78a1ca3ea65fa6",
        "type": "function",
        "z": "f_login_ui",
        "name": "1. Preparar Consulta",
        "func": "// 1. Guardamos la contraseña escrita en la memoria segura del flujo\nvar passLimpia = msg.payload.toString().trim();\nflow.set(\"PassEscrita\", passLimpia);\n\n// 2. Pedimos todos los usuarios a la base de datos\nmsg.payload = {\n    query: \"SELECT * FROM usuarios_login;\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "048ac884b6e17c82"
            ]
        ]
    },
    {
        "id": "4e43db65bcf1a28f",
        "type": "switch",
        "z": "f_login_ui",
        "name": "4. Comprobar Acceso",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1140,
        "y": 440,
        "wires": [
            [
                "22143d7bdeccf5a2",
                "dccae7353c392b24"
            ],
            [
                "5395ac2976366004",
                "fa7759554fbbaf1a"
            ]
        ]
    },
    {
        "id": "048ac884b6e17c82",
        "type": "postgresql",
        "z": "f_login_ui",
        "name": "2. Leer Usuarios (DB)",
        "query": "SELECT * FROM usuarios_login;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "357fe5a9bf87ebe9"
            ]
        ]
    },
    {
        "id": "357fe5a9bf87ebe9",
        "type": "function",
        "z": "f_login_ui",
        "name": "3. Validar Credenciales (JS)",
        "func": "var tabla_usuarios = msg.payload;\nvar mi_nombre = flow.get(\"Nombre\");\nvar mi_pass = flow.get(\"PassEscrita\");\n\nif (mi_nombre) mi_nombre = mi_nombre.toString().trim();\nif (mi_pass) mi_pass = mi_pass.toString().trim();\n\nvar login_ok = false;\n\nif (tabla_usuarios && tabla_usuarios.length > 0) {\n    for (var i = 0; i < tabla_usuarios.length; i++) {\n        var db_nom = tabla_usuarios[i].nombre_completo.toString().trim();\n        var db_pass = tabla_usuarios[i].password.toString().trim();\n\n        if (db_nom === mi_nombre && db_pass === mi_pass) {\n            login_ok = true;\n            // Guardamos los datos en el flow (como ya tenías)\n            flow.set(\"DatosUsuario\", tabla_usuarios[i]);\n\n            // ¡NUEVO!: Guardamos el usuario (ej: \"FHC3\") en la variable global para el fichaje\n            global.set(\"usuario_activo\", tabla_usuarios[i].usuario);\n\n            break;\n        }\n    }\n}\n\nif (login_ok) {\n    node.warn(\"✅ Acceso correcto: \" + mi_nombre);\n    msg.payload = \" \"; // Va por la ruta 1 (Éxito)\n} else {\n    node.warn(\"❌ Acceso fallido: \" + mi_nombre);\n    msg.payload = \"\"; // Va por la ruta 2 (Error)\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 440,
        "wires": [
            [
                "4e43db65bcf1a28f"
            ]
        ]
    },
    {
        "id": "dccae7353c392b24",
        "type": "link out",
        "z": "f_login_ui",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "1c8102a8f87c5561"
        ],
        "x": 1315,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa7759554fbbaf1a",
        "type": "link out",
        "z": "f_login_ui",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "0790dcb710f4a4b2"
        ],
        "x": 1315,
        "y": 560,
        "wires": []
    },
    {
        "id": "0790dcb710f4a4b2",
        "type": "link in",
        "z": "f_login_ui",
        "name": "link in 1",
        "links": [
            "fa7759554fbbaf1a"
        ],
        "x": 1345,
        "y": 120,
        "wires": [
            [
                "f_lanzador"
            ]
        ]
    },
    {
        "id": "25bdb51e45f9d2db",
        "type": "comment",
        "z": "f_login_ui",
        "name": "Inicio",
        "info": "",
        "x": 210,
        "y": 100,
        "wires": []
    },
    {
        "id": "1c8102a8f87c5561",
        "type": "link in",
        "z": "90e51c80d7614276",
        "name": "link in 2",
        "links": [
            "dccae7353c392b24"
        ],
        "x": 245,
        "y": 160,
        "wires": [
            [
                "a38b265e1ea88f89"
            ]
        ]
    },
    {
        "id": "a38b265e1ea88f89",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Cambio de Pagina",
        "func": "// El payload debe ser exactamente el nombre de la pestaña (Tab) de destino\nmsg.payload = \"Historial\";\n\n// También puedes usar el índice (empezando desde 0)\n// msg.payload = 0; // Esto iría a la primera pestaña\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "9e162e8cfc7bdd87"
            ]
        ]
    },
    {
        "id": "9e162e8cfc7bdd87",
        "type": "ui_ui_control",
        "z": "90e51c80d7614276",
        "name": "",
        "events": "all",
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8655584731f85d32",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "f6b2e2edc4623958"
            ]
        ]
    },
    {
        "id": "a5d2ce873017674e",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "22ca4d7f6eea07cc"
            ]
        ]
    },
    {
        "id": "e8a19a780b76191e",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 820,
        "wires": [
            [
                "1c31fcfe2cd77490"
            ]
        ]
    },
    {
        "id": "afec4364e16258e5",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 960,
        "wires": [
            [
                "4c9a8ebe4c03e126"
            ]
        ]
    },
    {
        "id": "08af7ff3336c2783",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1120,
        "wires": [
            [
                "16537ba3b1ed93de"
            ]
        ]
    },
    {
        "id": "d4db77e73b260663",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Pieza 6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1240,
        "wires": [
            [
                "e9473a22d2a33b47"
            ]
        ]
    },
    {
        "id": "5daf76d322df86ae",
        "type": "postgresql",
        "z": "90e51c80d7614276",
        "name": "SQL DB",
        "query": "INSERT INTO registro_piezas (tipo_pieza, usuario, fecha, cantidad)\nVALUES ($1, $2, CURRENT_DATE, $3)\nON CONFLICT (tipo_pieza, usuario, fecha)\nDO UPDATE SET cantidad = registro_piezas.cantidad + EXCLUDED.cantidad;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 820,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f_carga_inicial",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Cargar Usuarios al inicio",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "f_sql_usuarios"
            ]
        ]
    },
    {
        "id": "f_sql_usuarios",
        "type": "postgresql",
        "z": "90e51c80d7614276",
        "name": "SQL Usuarios",
        "query": "SELECT DISTINCT usuario FROM usuarios_login;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "1e6b01dc3bf2d6bf"
            ]
        ]
    },
    {
        "id": "6d568246abc9490b",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Preparar Filtros",
        "func": "if (msg.topic === \"fecha\") {\n    let d = new Date(msg.payload);\n    flow.set(\"filtro_fecha\", d.toISOString().split('T')[0]);\n}\nif (msg.topic === \"usuario\") {\n    flow.set(\"filtro_usuario\", msg.payload);\n}\nlet f = flow.get(\"filtro_fecha\");\nlet u = flow.get(\"filtro_usuario\");\nif (f && u) {\n    msg.params = [f, u];\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 1110,
        "y": 340,
        "wires": [
            [
                "ece6cdc41778b739"
            ]
        ]
    },
    {
        "id": "e0545e21fe23e987",
        "type": "ui_template",
        "z": "90e51c80d7614276",
        "group": "78d0549c66d87ad5",
        "name": "CSS Tabla Negro",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* 1. Cabecera NEGRA total */\n    .tabulator-header,\n    .tabulator-col {\n        background-color: #000000 !important;\n        color: #ffffff !important;\n        border-right: 1px solid #333 !important;\n    }\n\n    .tabulator-col-title {\n        font-size: 24px !important;\n        font-weight: 900 !important;\n        text-align: center !important;\n        width: 100% !important;\n    }\n\n    /* 2. Celdas: Centrado real sin que se muevan de columna */\n    .tabulator-cell {\n        font-size: 20px !important;\n        font-weight: bold !important;\n        text-align: center !important;\n        /* Centrado horizontal */\n        vertical-align: middle !important;\n        padding: 15px 0 !important;\n        border-right: 1px solid #eee !important;\n    }\n\n    /* 3. Columna Cantidad: Color azul y más grande */\n    .tabulator-cell[tabulator-field=\"Cantidad\"] {\n        color: #007bff !important;\n        font-size: 26px !important;\n        font-weight: 900 !important;\n    }\n\n    /* 4. Resaltar la última fila (EL TOTAL) */\n    .tabulator-row:last-child {\n        background-color: #e3f2fd !important;\n        border-top: 3px solid #000 !important;\n    }\n\n    .tabulator-row:last-child .tabulator-cell {\n        color: #000 !important;\n        font-size: 24px !important;\n    }\n\n    /* Altura de las filas */\n    .tabulator-row {\n        min-height: 65px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "66aef3fa64828928",
        "type": "ui_template",
        "z": "90e51c80d7614276",
        "group": "grupo_imagen",
        "name": "Visualizador de Imagen Pro",
        "order": 1,
        "width": "5",
        "height": 5,
        "format": "<div style=\"width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #f8f8f8; overflow: hidden; margin: 0; padding: 0;\">\n    <img ng-src=\"{{msg.payload}}\" \n         style=\"width: 100%; height: 100%; object-fit: contain; display: block;\"\n         onerror=\"this.src='https://via.placeholder.com/400x300.png?text=ERROR+CARGA+URL'\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1280,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "076c96e80c4fa306",
        "type": "inject",
        "z": "90e51c80d7614276",
        "name": "Cargar FMS-205",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://www.edsolab.com/wp-content/uploads/2022/12/FMS-205_SE_I4.0-300x300.jpg",
        "payloadType": "str",
        "x": 1050,
        "y": 140,
        "wires": [
            [
                "66aef3fa64828928"
            ]
        ]
    },
    {
        "id": "956e363404502256",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Estética + Cálculo Total",
        "func": "let filas = msg.payload;\nlet sumaTotal = 0;\n\nif (Array.isArray(filas)) {\n    filas.forEach(f => {\n        sumaTotal += parseInt(f[\"Cantidad\"] || 0);\n    });\n\n    filas.push({\n        \"Tipo de Pieza\": \"TOTAL GENERAL\",\n        \"Cantidad\": sumaTotal\n    });\n}\n\nmsg.columns = [\n    {\n        \"title\": \"TIPO DE PIEZA\",\n        \"field\": \"Tipo de Pieza\",\n        \"widthGrow\": 7,\n        \"hozAlign\": \"center\",\n        \"headerHozAlign\": \"center\"\n    },\n    {\n        \"title\": \"CANTIDAD\",\n        \"field\": \"Cantidad\",\n        \"widthGrow\": 3,\n        \"hozAlign\": \"center\",\n        \"headerHozAlign\": \"center\"\n    }\n];\n\nmsg.payload = filas;\nreturn msg;",
        "outputs": 1,
        "x": 1540,
        "y": 340,
        "wires": [
            [
                "4e3a10ed6d557f63"
            ]
        ]
    },
    {
        "id": "4e3a10ed6d557f63",
        "type": "ui_table",
        "z": "90e51c80d7614276",
        "group": "78d0549c66d87ad5",
        "name": "Tabla Resultados",
        "order": 3,
        "width": 16,
        "height": 10,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1820,
        "y": 340,
        "wires": []
    },
    {
        "id": "39a65aa3af756bd6",
        "type": "ui_chart",
        "z": "90e51c80d7614276",
        "name": "Gráfica Pie",
        "group": "a85144b6feefd47f",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "Reparto de Producción",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Cargando producción...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 1830,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "08c75444d73b82d5",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Preparar Datos Pie Chart",
        "func": "let filas = msg.payload;\n\n// 1. Limpiamos la gráfica anterior para que no se amontonen las búsquedas\nnode.send({ payload: [] });\n\n// 2. Mandamos las porciones de la tarta una a una\nif (Array.isArray(filas)) {\n    filas.forEach(fila => {\n        let nombre = fila[\"Tipo de Pieza\"];\n        let valor = parseInt(fila[\"Cantidad\"]);\n\n        // Filtramos para ignorar el TOTAL y valores vacíos\n        if (nombre && !nombre.includes(\"TOTAL\") && valor > 0) {\n            node.send({\n                topic: nombre,\n                payload: valor\n            });\n        }\n    });\n}\n\n// Retornamos null porque ya hemos mandado los datos con node.send()\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 480,
        "wires": [
            [
                "39a65aa3af756bd6"
            ]
        ]
    },
    {
        "id": "selector_usuario",
        "type": "ui_dropdown",
        "z": "90e51c80d7614276",
        "name": "Usuario",
        "label": "Usuario",
        "tooltip": "",
        "place": "",
        "group": "78d0549c66d87ad5",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "usuario",
        "topicType": "str",
        "className": "",
        "x": 870,
        "y": 300,
        "wires": [
            [
                "6d568246abc9490b"
            ]
        ]
    },
    {
        "id": "selector_fecha",
        "type": "ui_date_picker",
        "z": "90e51c80d7614276",
        "name": "Selector Fecha",
        "label": "Día",
        "group": "78d0549c66d87ad5",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "topic": "fecha",
        "topicType": "str",
        "className": "",
        "x": 840,
        "y": 360,
        "wires": [
            [
                "6d568246abc9490b"
            ]
        ]
    },
    {
        "id": "1e6b01dc3bf2d6bf",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "Mapear Dropdown Corregido",
        "func": "let lista = msg.payload;\n// 1. Añadimos la opción global al principio de la lista\nlet opciones = [\"Producción total\"]; \n\n// 2. Extraemos los usuarios de la base de datos y los añadimos después\nif (Array.isArray(lista)) {\n    for (let i = 0; i < lista.length; i++) {\n        if (lista[i].usuario) {\n            opciones.push(lista[i].usuario);\n        }\n    }\n}\n\nmsg.options = opciones;\nmsg.payload = \"\"; \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "selector_usuario"
            ]
        ]
    },
    {
        "id": "ece6cdc41778b739",
        "type": "postgresql",
        "z": "90e51c80d7614276",
        "name": "SQL Historial",
        "query": "SELECT tipo_pieza AS \"Tipo de Pieza\", SUM(cantidad) AS \"Cantidad\" FROM registro_piezas WHERE fecha = $1 AND ($2 = 'Producción total' OR usuario = $2) GROUP BY tipo_pieza;",
        "postgreSQLConfig": "e13779ceda0d5c8e",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "956e363404502256",
                "08c75444d73b82d5"
            ]
        ]
    },
    {
        "id": "b083d99b216cbfd2",
        "type": "s7 in",
        "z": "90e51c80d7614276",
        "endpoint": "s7_db12_config",
        "mode": "single",
        "variable": "PiezaBlancaPequeña",
        "diff": true,
        "name": "DB12,X94.2 Blanca Pequeña",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "f6b2e2edc4623958"
            ]
        ]
    },
    {
        "id": "fdd83d42dd5b2d95",
        "type": "s7 in",
        "z": "90e51c80d7614276",
        "endpoint": "s7_db12_config",
        "mode": "single",
        "variable": "PiezaBlancaGrande",
        "diff": true,
        "name": "DB12,X94.3 Blanca Grande",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "22ca4d7f6eea07cc"
            ]
        ]
    },
    {
        "id": "45f27eb06f715c3f",
        "type": "s7 in",
        "z": "90e51c80d7614276",
        "endpoint": "s7_db12_config",
        "mode": "single",
        "variable": "PiezaNegraPequeña",
        "diff": true,
        "name": "DB12,X94.4 Negra Pequeña",
        "x": 180,
        "y": 900,
        "wires": [
            [
                "1c31fcfe2cd77490"
            ]
        ]
    },
    {
        "id": "5e7b9eb4973a7b45",
        "type": "s7 in",
        "z": "90e51c80d7614276",
        "endpoint": "s7_db12_config",
        "mode": "single",
        "variable": "PiezaNegraGrande",
        "diff": true,
        "name": "DB12,X94.5 Negra Grande",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "4c9a8ebe4c03e126"
            ]
        ]
    },
    {
        "id": "df392b0194a4234b",
        "type": "s7 in",
        "z": "90e51c80d7614276",
        "endpoint": "s7_db12_config",
        "mode": "single",
        "variable": "PiezaMetalPequeña",
        "diff": true,
        "name": "DB12,X94.6 Metal Pequeña",
        "x": 200,
        "y": 1180,
        "wires": [
            [
                "16537ba3b1ed93de"
            ]
        ]
    },
    {
        "id": "90a3687327cb415d",
        "type": "s7 in",
        "z": "90e51c80d7614276",
        "endpoint": "s7_db12_config",
        "mode": "single",
        "variable": "PiezaMetalGrande",
        "diff": true,
        "name": "DB12,X94.7 Metal Grande",
        "x": 210,
        "y": 1320,
        "wires": [
            [
                "e9473a22d2a33b47"
            ]
        ]
    },
    {
        "id": "f6b2e2edc4623958",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Blanca Pequeña",
        "func": "let pieza_elegida = \"Blanca_Pequeña\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 600,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "22ca4d7f6eea07cc",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Blanca Grande",
        "func": "let pieza_elegida = \"Blanca_Grande\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 760,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "1c31fcfe2cd77490",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Negra Pequeña",
        "func": "let pieza_elegida = \"Negra_Pequeña\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 900,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "4c9a8ebe4c03e126",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Negra Grande",
        "func": "let pieza_elegida = \"Negra_Grande\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1020,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "16537ba3b1ed93de",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Metal Pequeña",
        "func": "let pieza_elegida = \"Metal_Pequeña\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    },
    {
        "id": "e9473a22d2a33b47",
        "type": "function",
        "z": "90e51c80d7614276",
        "name": "+1 Pieza Metal Grande",
        "func": "let pieza_elegida = \"Metal_Grande\"; \nlet cantidad_puesta = 1;\nlet usuario_actual = global.get(\"usuario_activo\") || \"Desconocido\";\n\nmsg.params = [\n    pieza_elegida,\n    usuario_actual,\n    cantidad_puesta\n];\nmsg.payload = msg.params;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "5daf76d322df86ae"
            ]
        ]
    }
]
